---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";

const allPosts = await getCollection("blog");
---

<Base>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.slug}>{post.slug}</a>
        </li>
      ))
    }
  </ul>
</Base>
