---
permalink: /index.xml
eleventyExcludeFromCollections: true
eleventyImport:
  collections: ["posts", "notes"]
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <description>{{ metadata.description }}</description>
    <link>{{ metadata.url }}</link>
    <atom:link
      href="{{ permalink | absoluteUrl(metadata.url) }}"
      rel="self"
      type="application/rss+xml"
    />
    <language>{{ metadata.language }}</language>
    <generator>{{ eleventy.generator }}</generator>
    <copyright>Creative Commons Attribution 4.0 International - CC-BY</copyright>
    {% if collections.allFeed %}
    <lastBuildDate>{{ collections.allFeed | rssLastUpdatedDate }}</lastBuildDate>
    {% endif %}
    {%- for post in collections.allFeed -%}
      {%- set absolutePostUrl = post.url | url | absoluteUrl(metadata.url) -%}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <pubDate>{{ post.date | rssDate }}</pubDate>
      <guid>{{ absolutePostUrl }}</guid>
      <description>
        <![CDATA[
        {% if post.data.cover %}
          {% image post.data.coverImage, post.data.cover.caption, [50vw] %}
        {% endif %}
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
        {% if post.data.reply %}
          <a href="{{ post.data.reply.url }}" class="u-in-reply-to break-all"></a>
        {% endif %}
        {% if post.data.like %}
          <a href="{{ post.data.like.url }}" class="u-like-of break-all"></a>
        {% endif %}
        {% if post.data.repost %}
          <a href="{{ post.data.repost.url }}" class="u-repost-of break-all"></a>
        {% endif %}
        {% if post.data.quote %}
          <cite class="h-cite u-quotation-of"><a href="{{ post.data.quote.url }}" class="u-url break-all"></a></cite>
        {% endif %}
        {% if post.data.bridgy %}
          {%- for item in post.data.bridgy -%}
            <a href="https://brid.gy/publish/{{ item }}"></a>
          {%- endfor -%}
        {% endif %}
        ]]>
      </description>
    </item>
    {%- endfor -%}
  </channel>
</rss>
