---
layout: "layouts/base.webc"
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /categories/{{category.slug}}/index.html
eleventyComputed:
  title: Blog entries in category "{{ category.title }}"
eleventyExcludeFromCollections: true
---

<section>
  <header class="py-16 md:py-20">
    <h1 class="font-bold text-4xl md:text-5xl bottom-2 text-center">
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue p-name"
      >
        {{ title }}
      </span>
    </h1>
  </header>
  <ul>
    {% for post in category.posts | reverse %}
    <li
      class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start"
    >
      <div class="title">
        <a
          href="{{ post.url }}"
          class="unset transition-[background-size] duration-300 bg-gradient-to-r bg-left-bottom bg-no-repeat bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
          >{{ post.data.title }}
        </a>
      </div>
      <div class="text-text-muted text-sm italic pt-1">
        <time datetime="{{ post.data.date | htmlDateString }}"
          >{{ post.data.date | readableDate }}
        </time>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
